<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
<nav>
    <div class="menu_items">
        <ul class="nav_links">
            <li><i class="material-symbols-outlined">
                waving_hand
            </i>&nbsp; Hello,
                <span class="text" th:text="${userData}"></span>
            </li>
            <li><a href="#"><i class="material-symbols-outlined">dashboard</i>&nbsp; Dashboard</a></li>
            <li><a href="#"><i class="material-symbols-outlined">
                receipt_long
            </i>&nbsp; All invoices</a></li>
            <li><a href="#"><i class="material-symbols-outlined">
                archive
            </i>&nbsp; Archive invoices</a></li>
            <li><a href="#"><i class="material-symbols-outlined">
                account_box
            </i>&nbsp; Edit profile</a></li>
        </ul>
        <button class="logout_btn"><i class="material-symbols-outlined" id="logout_icon_css">
            logout
        </i>&nbsp; Logout</button>
    </div>

</nav>

<section>
    <div class="content">
        <div class="boxes">
            <div class="box box_1">
                <span class="text">Total Items</span>
                <span class="number" th:text="${statsData.get('itemsBought')}"></span>
            </div>

            <div class="box box_2">
                <span class="text">Total Expense</span>
                <span class="number" th:text="${'$' + statsData.get('totalExpense')}"></span>
            </div>

            <div class="box box_3">
                <span class="text">Maximum Expense</span>
                <span class="number" th:text="${'$' + statsData.get('maxExpense')}"></span>
            </div>

        </div>
        <div id="box_scroll">
        <div class="horizontal_boxes">
            <div class="h_box" th:block th:each="invoice : ${invoiceData}">
                <span class="text" th:text="${invoice.get('companyName')}"></span>
                <span class="number" th:text="${'$' + invoice.get('totalAmount')}"></span>
            </div>
        </div>
            </div>


        </div>
    </div>
</section>
</body>
</html>